body{
  /* margin: 0px;
  background-image: url("../img/imageC-4.jpg");
  width: 100%;
  
  background-size:cover;
  background-position: stretch;
   */


  font-family: 'IBM Plex Serif', serif;
  }

  .welcome{
    margin: 50px auto;
    width: 600px;
  }

  .welcome img{
    border-radius: 20px;
  }


  .carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    background-size: cover;
  }


  
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

  