body{
  margin: 0px;
  background-image: url("../img/1.jpg");
  width: 100%;
  
  background-size:cover;
  background-position: stretch;
  
  font-family: 'IBM Plex Serif', serif;
  }
 
.headings{
    color:rgb(243, 221, 208);
    font-weight: bold;

}
.sub-headings{
  color: aliceblue;
}

  .thumb{
    width: 150px;
    height: 150px;
  
  }

 .home{
      margin: 50px auto;
      width: 900px;

 }
 .home img{
      border-radius: 20px;

 }

 .grid .col{
   border-right: none;
   align-content: center;
   padding: 30px;


 }

 .grid h4{
   text-align: center;
 }

 .content{
   padding-top: 15vh;
 }

  


